*,*::after,*::before{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #F7F7F7;
    font-family: 'Roboto', sans-serif;
}

.heading{
    font-size: 2.5rem;
    text-align: center;
}

.cards-list{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 50px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.card-container{
    height: 400px;
    width: 25%;
    background-color: rgba(128, 128, 128, 0.205);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.card-img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.titleheading{
    height: 40%;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-heading{
    font-size: 1.5rem;
    font-weight: 700;
}
.card-title{
    font-size: 0.9rem;
    font-weight: 400;
}

@media all and (max-width:1200px){
    .cards-list{
        padding: 10px;
    }
    .card-container{
        width: 35%;
    }
}

@media all and (max-width:850px){
    .cards-list{
        padding: 5px;
    }
    .card-container{
        width: 45%;
        height: 450px;
    }
}

@media all and (max-width:650px){
    .cards-list{
        padding: 10px;
    }
    .card-container{
        width: 80%;
    }
}

@media all and (max-width:400px){
    .card-container{
        width: 90%;
    }
}